<!doctype html>
<!https://codyhouse.co/gem/animated-intro-section>
{% block content %}
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700,400' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="static/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="static/css/style.css"> <!-- Resource style -->
	<script src="static/js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>cs tribunal</title>
</head>
<body>
<section class="cd-intro">
	<div class="cd-intro-content mask">
		<h1 data-content="Welcome to CS Tribunal"><span>Welcome to CS Tribunal</span></h1>
		<div class="action-wrapper">
			<p>
				<a href="oauth2" class="cd-btn main-action">Authorize with Discord</a>
				<a href="oauth2redirect" class="cd-btn">Login</a>
			</p>
		</div>
	</div>
</section>
	
<script src="static/js/jquery-2.1.4.js"></script>
<script src="static/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
{% endblock %}